.qualification {
    &Slider{
        padding: 1rem;
    }
    &Card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        &Image {
            width: 100%;
            max-width: 200px;
            height: auto;
            border-radius: 8px;
            margin-bottom: .5em;
        }
    }

}