.services {
    &Card{
        background-color: #EEF6FF;
        padding: 1.5em  1em;
        margin: 2.5em 1em;
        border-radius: 20px;
        @media screen and (min-width: 768px) {
            padding: 2.5em 1.5em;
            margin-top: 50px;
            margin: 1.5em 1.5em;
        }
        @media screen and (min-width: 1000px) {
            padding: 3em 2em;
            margin: 4em 2em;
        }
    }
    &Title{
        color: #333;
        font-family: 'Murecho', sans-serif;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        padding: 1em 0;

        @media screen and (min-width: 768px) {
            font-size: 1.5em;
            font-weight: 700;
        }
    }
    &Text{
        color: #333;
        text-align: left;
        margin-top: 20px;
        font-size: .8em;
        font-family: 'Murecho', sans-serif;
        @media screen and (min-width: 768px) {
            font-size: 1em;
            font-weight: 400;
        }
        &Strong{
            font-weight: 700;
        }
        &Underline{
            text-decoration: underline;
        }
        &Bullet{
            list-style-type: disc;
            margin-left: 20px;
        }
        &Italic {
            font-style: italic;
        }
    }
}