.slider{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: .5em;
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
        margin: 0 1em;
    }
}
.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00527D;
    border-radius: 15px;
    padding: .8em 2em;
    max-width: 250px;
    min-height: 300px;
    margin: 0 auto 2.5em auto;
    cursor: pointer;
    &:hover{
        background-color: #002347;
    }
    
    &Icon{
        width: 100%;
        max-width: 100px;
        display: block;
        margin: 0 auto;
    } 
    &Title{
        color: #f5f4f3;
        font-family: "Murecho", sans-serif;
        font-size: 1em;
        margin-top: 1em;
        font-weight: 700;
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
            
        }
    }
    &Description{
        color: #f5f4f3;
        font-size: .8rem;
        margin: 1em 0;
        font-family: "Murecho", sans-serif;
        line-height: 1.3;
        font-weight: 300;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
            
        }
    }
}
.feedbackCard{
    margin-bottom: 2em;
    @media screen and (min-width: 700px) {
        margin-bottom: 3em;
        
    }

    &Text{
        background: #ffff;
        border-radius: 15px;
        padding: 1em 2em;
        font-size: .8rem;
        line-height: 1.1;
        font-weight: 300;
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        @media screen and (min-width: 400px) {
            padding: 2.5em 2em;
            font-size: 1em;
            
        }
        @media screen and (min-width: 700px) {
            padding: 1.5em 2em;

       }
        @media screen and (min-width: 1024px) {
            padding: 1em 2em;
            
        }
        @media screen and (min-width: 1400px) {
            padding: 2.5em 2.5em;
        }
        @media  screen and (min-width: 1600px) {
            padding: 3em 3em;
            
        }
    }
    &Name {
        padding: 1em 2em;
        font-size: .8rem;
        font-weight: 600;
        @media screen and (min-width: 400px) {
            padding: 2.5em 2em;
            
        }
        @media screen and (min-width: 700px) {
            padding: 1.5em 2em;
        }
        @media screen and (min-width: 1000px) {
            font-size: 1em;  
        }
        @media screen and (min-width: 1200px) {
            font-size: 1.2em;  
        }
    }
    &Company {
        padding: 0 2em;
        font-size: .7rem;
        font-weight: 300;
        @media screen and (min-width: 400px) {
            padding: 2.5em 2em;
            
        }
        @media screen and (min-width: 700px) {
            padding: 1.5em 2em;
        }
        @media screen and (min-width: 1000px) {
            font-size: .8em;  
        }
        @media screen and (min-width: 1200px) {
            font-size: 1em;
            
        }
    
    }
}
.text {
    &Normal {
      font-weight: normal;
      line-height: 1.3;
    }
    
    &Strong {
      font-weight: bold;
    }
    &Em{
        font-style: italic;
    }
  }